<html>
	<head>
		<title>Launchpad</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<script src="../static/js/jquery-1.9.1.js"></script>
		<script src="../static/js/jquery-ui-1.10.2.custom.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<style type="text/css">
			.keyboard {
				position: absolute;
				width: 90%;
				left: 10%;
			}
			.soundList {
				height: 85%;
				overflow-x: hidden;
				overflow-y: scroll;
			}/*
			.sound-clip {
				margin: 3 0 3 0;
				background: #D2B48C;
				border: solid black;
			}*/
			.keyboard-key-normal {
				background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
			}
			.keyboard-key-pressed {
				background-image: -webkit-linear-gradient(top, #ee5f5b,#bd362f);
			}
			ul {
				list-style-type: none;
			}
			.keyboard-key {
				background-color: rgb(0,109,204);
				height: 90px;
				text-align: center;
				color: white;
				border-radius: 7px;
				margin: 5px;
				overflow: hidden;
			}
			.sound-name {
				height: 50px;
				vertical-align: bottom;
				text-align: center;
				line-height: 75px;
			}
			.key-name {
				height: 25px;
				vertical-align: middle;
				text-align: center;
				line-height: 50px;
			}
		</style>
	</head>
	<body>
		<br />
		<div class="container-fluid">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="#">launchp.ad</a>
					<ul class="nav">
						<li class="active"><a href ="#" >Home</a></li>
						<li><a href="/upload/{{username}}">Upload</a></li>
					</ul>
				</div>
			</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="soundList span3 sidebar-nav well">
					<ul class="nav nav-list">
					{% for song in songs %}
					<li><span id="{{song.file}}" class="sound-clip">{{song.file}}</span></li>
					{% endfor %}
				</ul>
			</div>
			<div class="span21">
				<div class="row">
					<div id="keyQ" class="offset2 span2 keyboard-key-normal keyboard-key"><div class="key-name">Q</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyW" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">W</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyE" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">E</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyR" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">R</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyT" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">T</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyY" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">Y</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyU" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">U</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyI" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">I</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyO" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">O</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyP" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">P</div><div class="sound-name"></div><audio loop /></div>
				</div class="key-name">
				<div class="row">
					<div id="keyA" class="offset3 span2 keyboard-key-normal keyboard-key"><div class="key-name">A</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyS" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">S</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyD" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">D</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyF" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">F</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyG" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">G</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyH" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">H</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyJ" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">J</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyK" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">K</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyL" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">L</div><div class="sound-name"></div><audio loop /></div>
				</div class="key-name">
				<div class="row">
					<div id="keyZ" class="offset4 span2 keyboard-key-normal keyboard-key"><div class="key-name">Z</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyX" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">X</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyC" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">C</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyV" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">V</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyB" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">B</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyN" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">N</div><div class="sound-name"></div><audio loop /></div>
					<div id="keyM" class="span2 keyboard-key-normal keyboard-key"><div class="key-name">M</div><div class="sound-name"></div><audio loop /></div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
					{% for song in songs %}
						$("#{{song.file}}").data("filename","/{{song.loc}}");
					{% endfor %}
					$("#sound_drag_1").data("filename","1.wav");
					$("#sound_drag_2").data("filename","2.wav");
					$("#sound_drag_3").data("filename","3.wav");
					$("#sound_drag_4").data("filename","4.wav");
					$(document).keydown(function(e) {
						var sound_button = $("#key" + String.fromCharCode(e.which)).find("audio");
						if (sound_button.length) {
							$("#key"+String.fromCharCode(e.which)).removeClass("keyboard-key-normal");
							$("#key"+String.fromCharCode(e.which)).addClass("keyboard-key-pressed");

							sound_button[0].play();
						}
					});
					$(document).keyup(function(e) {
						var sound_button = $("#key" + String.fromCharCode(e.which)).find("audio");
						console.log(e.which);
						if (sound_button.length) {
							$("#key"+String.fromCharCode(e.which)).addClass("keyboard-key-normal");
							$("#key"+String.fromCharCode(e.which)).removeClass("keyboard-key-pressed");
							sound_button[0].pause();
							sound_button[0].currentTime = 0;
						}
						});

					$(".keyboard-key").droppable({
						activeClass: "key-state-hover",
						hoverClass: "key-stat-active",
						drop: function(event, ui) {
						$(this).find("audio").attr("src",ui.draggable.data("filename"));
						$(this).find(".sound-name").html(ui.draggable.html());
						}
					});
					$(".sound-clip").draggable({helper:"clone",revert:true,appendTo:"body"});
			});
		</script>
	</body>
</html>
