<html>
	<head>
		<title>Launchpad</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<script src="../static/js/jquery-1.9.1.js"></script>
		<script src="../static/js/jquery-ui-1.10.2.custom.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<style type="text/css">
			.keyboard {
				position: absolute;
				width: 90%;
				left: 10%;
			}
			.soundList {
				height: 85%;
				overflow-x: hidden;
				overflow-y: scroll;
			}
			.sound-clip {
				margin: 3 0 3 0;
				background: #D2B48C;
				border: solid black;
			}
			.keyboard-key {
				height: 100px;
				line-height: 100px;
				vertical-align: middle;
				text-align: center;
				background: red;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				border-width: 10;
				border-color: white;
				border: solid white;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="soundList span2">
					<div id="sound_drag_1" class="sound-clip">Sound 1</div>
					<div id="sound_drag_2" class="sound-clip">Sound 2</div>
					{% for song in songs %}
						<div id="{{song.file}}" class="sound-clip">{{song.file}}</div>
					{% endfor %}
			</div>
			<div class="span22">
				<div class="row">
					<div id="keyQ" class="offset2 span2 keyboard-key">Q<audio loop /></div>
					<div id="keyW" class="span2 keyboard-key">W<audio loop /></div>
					<div id="keyE" class="span2 keyboard-key">E<audio loop /></div>
					<div id="keyR" class="span2 keyboard-key">R<audio loop /></div>
					<div id="keyT" class="span2 keyboard-key">T<audio loop /></div>
					<div id="keyY" class="span2 keyboard-key">Y<audio loop /></div>
					<div id="keyU" class="span2 keyboard-key">U<audio loop /></div>
					<div id="keyI" class="span2 keyboard-key">I<audio loop /></div>
					<div id="keyO" class="span2 keyboard-key">O<audio loop /></div>
					<div id="keyP" class="span2 keyboard-key">P<audio loop /></div>
				</div>
				<div class="row">
					<div id="keyA" class="offset3 span2 keyboard-key">A<audio loop /></div>
					<div id="keyS" class="span2 keyboard-key">S<audio loop /></div>
					<div id="keyD" class="span2 keyboard-key">D<audio loop /></div>
					<div id="keyF" class="span2 keyboard-key">F<audio loop /></div>
					<div id="keyG" class="span2 keyboard-key">G<audio loop /></div>
					<div id="keyH" class="span2 keyboard-key">H<audio loop /></div>
					<div id="keyJ" class="span2 keyboard-key">J<audio loop /></div>
					<div id="keyK" class="span2 keyboard-key">K<audio loop /></div>
					<div id="keyL" class="span2 keyboard-key">L<audio loop /></div>
				</div>
				<div class="row">
					<div id="keyZ" class="offset4 span2 keyboard-key">Z<audio loop /></div>
					<div id="keyX" class="span2 keyboard-key">X<audio loop /></div>
					<div id="keyC" class="span2 keyboard-key">C<audio loop /></div>
					<div id="keyV" class="span2 keyboard-key">V<audio loop /></div>
					<div id="keyB" class="span2 keyboard-key">B<audio loop /></div>
					<div id="keyN" class="span2 keyboard-key">N<audio loop /></div>
					<div id="keyM" class="span2 keyboard-key">M<audio loop /></div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
					{% for song in songs %}
						$("#{{song.file}}").data("filename","{{song.loc}}");
					{% endfor %}
					$("#sound_drag_1").data("filename","1.wav");
					$("#sound_drag_2").data("filename","2.wav");
					$("#sound_drag_3").data("filename","3.wav");
					$("#sound_drag_4").data("filename","4.wav");
					$(document).keydown(function(e) {
						var sound_button = $("#key" + String.fromCharCode(e.which)).find("audio");
						if (sound_button.length) {
							$("#key"+String.fromCharCode(e.which)).css("backgroundColor","green");
							sound_button[0].play();
						}
					});
					$(document).keyup(function(e) {
						var sound_button = $("#key" + String.fromCharCode(e.which)).find("audio");
						console.log(e.which);
						if (sound_button.length) {
							$("#key"+String.fromCharCode(e.which)).css("backgroundColor","red");
							sound_button[0].pause();
							sound_button[0].currentTime = 0;
						}
						});

					$(".keyboard-key").droppable({
						activeClass: "key-state-hover",
						hoverClass: "key-stat-active",
						drop: function(event, ui) {
							$(this).find("audio").attr("src",ui.draggable.data("filename"));
						}
					});
					$(".sound-clip").draggable({helper:"clone",revert:true,appendTo:"body"});
			});
		</script>
	</body>
</html>
