<!DOCTYPE html>
<html>
	<head>
		<title>Uploader</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body onload = "init()">
		<form action="/upload/{{ username }}" method="POST" enctype="multipart/form-data">
			<br />
			<div class="container-fluid">
				<div class="navbar">
					<div class="navbar-inner">
						<a class="brand" href="#">launchp.ad</a>
						<ul class="nav">
							<li><a href ="/home/{{username}}" >Home</a></li>
							<li class="active"><a href ="#">Upload</a></li>
						</ul>
					</div>
				</div>

				<div class="container-fluid" align="justify">
					<div class="hero-unit" style="width:500px">
						<h1>Upload your files below</h1>
						<br>
						<input type = "file" multiple accept="audio/*" name="files">
						<p>
						<a class = "btn btn-primary btn-large">
							Submit
						</a>
						</p>
					</div>
				</div>
			</div>
		</form>


		<script src="../static/js/jquery-1.9.1.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
	</body>
</html>

